@use 'variables' as *;

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }

}


@mixin phone {
    @media (max-width: $breakpoint-phone) {
        @content;
    }
}


@mixin from($size) {
    @media (min-width: $size) {
        @content;
    }
}


@mixin green-button {
    font-family: inherit;
    font-weight: bold;
    border: none;
    background-color: $color-primary;
    color: $color-light;
}


@mixin block-button {
    @include green-button;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    margin-top: 1rem;
}
