@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixin' as *;

.features {
  display: flex;
  flex-direction: column;
}

@include from($breakpoint-features) {
  .features {
    flex-direction: row;
  }
}
